/* .vitepress/theme/custom.css */
:root {
  --vp-home-hero-name-color: #dda947;
  --vp-button-brand-bg: #dda947;
  --vp-button-brand-hover-bg: #b38939;
}

.VPNavBarHamburger {
  display: none !important;
}
